.mEspaco{
    display: flex;
    background-color: #7A0303;
    height: 3rem;
    margin-top: 1rem;


    
}
.mEspacoItem{
    gap:5rem;
}
.mEspacoItem > ul > li > a{
    color:white;
    margin-right: 1rem;
}
.mEspacoItem a:hover{
    color: #d80404;
}
.active{
    color:#fff;
}